@import 'node_modules/hermes-slider/lib/_hermes.scss';
body,
html {
  height: 100%;
  margin: 0;
}
#my-slider {
  height: 100%;
}
@media only screen and (min-height: 600px) {
  #my-slider {
    height: 600px;
    top: calc(50% - 300px);
    position: absolute;
  }
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
  text-shadow: #333 1px 1px 1px;
}
#slideshow {
  .hermes-layout--background {
    background-image: url('images/big-ben.jpg');
  }
}
#dependencies {
  .hermes-layout--background {
    background-image: url('images/css-on-macbook-pro.jpg');
  }
}
#more {
  .hermes-layout--background {
    background-image: url('images/keyboard.jpg');
  }
}
body {
  background-color: #222125;
}
@keyframes blink {
  0% { color: #222; }
  100% { color: #aa2; }
}
#dependencies.hermes-slide-to {
  a {
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    animation-iteration-count: 1;
  }

  .nth4 {
    animation-duration: 400ms;
  }
  @for $i from 1 through 4 {
    .nth#{$i} {
      animation-delay: 1.5s + 80ms * $i;
    }
  }
}
#slideshow,
#more {
  a {
    &:link,
    &:visited {
      color: #aa2;
    }
  }
}
html {
  transition: opacity 300ms ease-in;
}
html.js {
  opacity: 1;
}
