@import 'node_modules/hermes-slider/lib/_hermes.scss';
body,
html {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: underline;
  transition: color ease-in-out 150ms;

  &:link,
  &:visited {
    color: #222;
  }

  &:hover {
    color: #2962ff;
  }

  &:active {
    color: #000;
  }
}
#slideshow .hermes-layout--background {
  background-image: url('big-ben.jpg');
}
#dependencies .hermes-layout--background {
  background-image: url('css-on-macbook-pro.jpg');
}
#more .hermes-layout--background {
  background-image: url('keyboard.jpg');
}
@keyframes blink {
  0% { color: #222; }
  50% { color: #aa2; }
  100% { color: #222; }
}
#dependencies.hermes-slide-to {
  a {
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
  }

  .nth4 {
    animation-duration: 400ms;
  }
  @for $i from 1 through 4 {
    .nth#{$i} {
      animation-delay: 1.5s + 80ms * $i;
    }
  }
}
