@import
  'node_modules/hermes-slider/src/_hermes.scss',
  'node_modules/hermes-slider/src/styles/transitions/_zoom-in-out.scss';
body,
html,
#my-slider {
  height: 100%;
  margin: 0;
}
#example,
#dependencies {
  text-align: center;
}
